:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #FF9900;
  --color-gray: #A0A0A0;
  --color-green: #32A18B;
  --color-red: #F44336;
  --color-border: #C4C4C4;
  --color-accent: #17BA9B;
  --color-accent-hover: #2CCEAF;
  --color-bg: #616161;
  --font-base: 1.8rem;
}