section.agreement-desc
  .agreement-desc__bg
  .container
    h2.agreement-desc__title.title.title--color-bg.title--size-small Содержание документа
    h4.agreement-desc__subtitle.title.title--color-gray.title--size-tiny Особенности содержания брачного договора регламентируются <a href="#">статьей 42 СК РФ</a>
    .agreement-desc__inner
      .agreement-desc__content
        p В соответствие с установленным законом, соглашение между супругами может распространяться как на уже имеющееся у них имущество, так и на приобретенное в будущем. К особенностям содержания договора между супругами можно отнести:
        ul
          li возможность прописывания определенных условий, временных периодов вступления соглашения в силу (измена другой стороны, достижение ребенком совершеннолетнего возраста и т.д.)
          li утверждение своих прав по отношению взаимного содержания (распределение приобретаемого имущества, семейных растрат)
          li возможность разделения установленной законом собственности (на отдельные виды для каждой стороны)
        p Перед составлением соглашения и заполнением бланка следует помнить о том, что брачный договор не может содержать условия, ограничивающие дееспособность, правоспособные и иные неимущественные деяния супруга. В таком документе нельзя прописывать условия, ставящие одного из участников брака в крайне неблагоприятное положение.
        //при моб должно отображатся и работать через ajax a(href="#") Подбробнее
        h3 Брачный договор: основные особенности
        p В любой момент соглашение об упорядочении имущественных отношений между супругами может быть расторгнут (при условии согласия на это обеих сторон). Односторонний отказ от контракта, в соответствие с условиями <a href="#">статьи 43 СК РФ</a>, недопустим.
        p Для расторжения или изменения брачного контракта в одиночном направлении супругу придется дождаться официального решения суда. Судебный процесс производится в соответствие с ГК РФ. Автоматически действие договора прекращается (что активизирует его условия) с датой подписания документа о расторжении брака.
      +picture('static/images/content/agreement', 'agreement-desc', ['webp', 'png'], 'agreement-desc__image')