section.agreement-documents
  .container
    h2.agreement-documents__title.title.title--color-bg.title--size-small.title--align-center ОБРАЗЕЦ ЗАПОЛНЕНИЯ "БРАЧНЫЙ ДОГОВОР"
    .agreement-documents__row
      div(data-bg="static/images/content/documents/document-1.png" data-bg-webp="static/images/content/documents/document-1.webp" ).agreement-documents__image
        a(href="static/images/content/documents/document-1.png" data-fancybox="gallery").agreement-documents__zoom
          img(src="static/images/common/zoom.svg" alt="").agreement-documents__icon
      div(data-bg="static/images/content/documents/document-2.png" data-bg-webp="static/images/content/documents/document-2.webp" ).agreement-documents__image
        a(href="static/images/content/documents/document-2.png" data-fancybox="gallery").agreement-documents__zoom
          img(src="static/images/common/zoom.svg" alt="").agreement-documents__icon
      div(data-bg="static/images/content/documents/document-3.png" data-bg-webp="static/images/content/documents/document-3.webp" ).agreement-documents__image
        a(href="static/images/content/documents/document-3.png" data-fancybox="gallery").agreement-documents__zoom
          img(src="static/images/common/zoom.svg" alt="").agreement-documents__icon
    .agreement-block
      .agreement-block__icon !
      .agreement-block__box
        span.agreement-block__text Вы можете скачать образец в любом удобном вам формате: pdf, doc, png а также распечатать для дальнейшего заполнения.
        .agreement-block__control
          a(href="#").btn.btn--color-orange.agreement-block__link.btn--border-orange.btn--size-tiny
            img(src="static/images/common/icon-pdf.svg" alt="").btn-icon
            | Скачать в PDF
          a(href="#").btn.btn--color-green.agreement-block__link.btn--border-green.btn--size-tiny
            img(src="static/images/common/icon-docx.svg" alt="").btn-icon
            | Скачать в Word
          a(href="#").btn.btn--color-green.agreement-block__link.btn--border-green.btn--size-tiny
            img(src="static/images/common/icon-printing.svg" alt="").btn-icon
            | Печать
          a(href="#").btn.btn--color-green.agreement-block__link.btn--border-green.btn--size-tiny
            img(src="static/images/common/icon-eye.svg" alt="").btn-icon
            | Просмотр