section.intro.intro--padding.intro--border
  .intro__bg(data-bg="static/images/content/agreement/agreement-bg.jpg" data-bg-webp="static/images/content/agreement/agreement-bg.webp")
    .container
      .intro__agreement
        +picture('static/images/common', 'gerb', ['webp', 'png'], 'intro__agreement-decor')
        h1.intro__title.title.title--uppercase.title--size-big.title--weight-semibold.title--color-black Брачный <br>
          span договор
        p.intro__agreement-text <strong>Брачный контракт</strong> - распространенная практика, объясняющаяся не просто недоверием к супругу, а подстраховкой личного положения.
        +picture('static/images/common', 'signature', ['webp', 'png'], 'intro__agreement-image')
        a(href="#").btn.btn--color-white.btn--bg-orange.intro__agreement-btn
         +icon('writing', 'btn-icon')
         | Образец бланка