section.contract
  .contract__bg
  .container
    .contract__inner
      .contract__content
        h2.title.title--color-bg.title--size-small.contract__title Порядок подписания контракта
        .contract__text
          p Процесс оформления соглашения между супругами возможен до заключения брака или после его вступления в силу. Заключается договор в письменной форме в соответствие с представленным образцом заполнения. В типовом бланке должна быть представлена информация о местонахождении обеих сторон, их персональные данные (взятые из паспорта), условия заключения документа и подписи обоих супругов.
          p Важно: Процесс подписания документа можно передать третьим лицам (с помощью нотариальной доверенности).
          p Заполнять бланк вручную необязательно. Готовый экземпляр можно распечатать, внеся вручную ключевые данные. Процесс заверения документа совершается у нотариуса <a href="#">статья 41 СК РФ</a>
      .contract__image(data-da="contract__content, 1, 900")
        +picture('static/images/content/contract', 'contract-image', ['webp', 'png'], '')