section.spouses
  .container
    h2.title.title--size-small.title--color-bg.title--align-center.spouses__title Супруги могут
    .spouses__row
      .spouses__col
        img(src="static/images/content/spouses/spouses-icon-1.svg" alt="").spouses__icon
        h3.title.title--size-medium.title--color-green.title--align-center.spouses__subtitle Установить
        span.spouses__text ржим совместной, раздельной и долевой собственности на все имущество супругов в т. ч. на приобретаемое в будущем
      .spouses__col
        img(src="static/images/content/spouses/spouses-icon-2.svg" alt="").spouses__icon
        h3.title.title--size-medium.title--color-green.title--align-center.spouses__subtitle Определить
        span.spouses__text любые условия, касающихся имущественных отношений, в т.ч. определение имущества, передаваемого каждому из супругов при расторжении брака
      .spouses__col
        img(src="static/images/content/spouses/spouses-icon-3.svg" alt="").spouses__icon
        h3.title.title--size-medium.title--color-green.title--align-center.spouses__subtitle Дговориться
        span.spouses__text об освобождении жилого помещения тем из супругов, кто вселился в него, в случае расторжения брака, с выплатой денежной компенсации или без нее.