.extract {
	padding-top: 110px;

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30px;
	}

	&-card {
		flex: 0 0 23%;
		border: 1px solid #ECECEC;
		border-radius: 10px;
		transition: all linear .2s;

		@media (max-width: 1130px) {
			flex: 0 0 49%;
			margin: 10px 0;
		}

		@media (max-width: 500px) {
			flex: 0 0 100%;
		}

		&:hover {
			border: 1px solid rgba(176, 176, 176, 0.4);
			box-shadow: 0px 4px 15px rgba(36, 36, 36, 0.2);
			transform: scaleY(1.04);
		}

		&__header {
			background: linear-gradient(90deg, #17BA9B 3.94%, #2CCEAF 51.21%, #17BA9B 94.7%);
			box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.06);
			border-radius: 10px 10px 0px 0px;
			padding: 20px 10px;

			&--orange {
				background: linear-gradient(90deg, #FF9900 3.94%, #FFCB7C 51.21%, #FF9900 94.7%);
			}
		}

		&__title {
			font-family: "Mont", "Open Sans", sans-serif;
			font-weight: 900;
			line-height: 20px;
			text-align: center;
			color: #fff;
		}

		&__icon {
			width: 18px;
			height: 18px;
			margin-left: 5px;
		}

		&__body {
			padding: 20px 20px 40px;
			text-align: center;
		}

		&__subtitle {
			font-weight: 600;
			font-size: 14px;
			color: #3F3F3F;
		}

		&__desc {
			background: #FCFCFC;
			padding: 10px 0;
			border-radius: 10px;
			font-size: 14px;
			color: rgba(49, 49, 49, 0.7);
			margin-top: 10px;

			span {
				position: relative;
				padding-left: 25px;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					width: 17px;
					height: 17px;
				}
			}

			&--pdf {
				span {
					&:before {
						background-image: url(../images/common/icon-pdf_green.svg) no-repeat center/cover;
					}
				}
			}

			&--archive {
				span {
					&:before {
						background-image: url(../images/common/archive.svg) no-repeat center/cover;
					}
				}
			}
		}

		&__price {
			white-space: nowrap;
			font-size: 48px;
			line-height: 48px;
			color: var(--color-subtext);
			font-weight: 400;
			display: block;
			text-align: center;

			&:after {
				content: attr(data-value);
				font-size: 18px;
				line-height: 20px;
				margin-left: 5px;
			}

			&--old {
				position: relative;
				display: inline-block;
				font-size: 14px;
				color: #616161;
				margin-top: 10px;

				&:before {
					content: '';
					position: absolute;
					top: -23px;
					left: 30px;
					width: 1px;
					height: 75px;
					border-right: 1px solid#FF1010;
					transform: rotate(98deg);
				}
			}
		}

		&__button {
			width: 150px;
			margin-top: 20px;
		}
	}
}