.intro {
	&--bgc {
		background-color: rgb(52, 181, 159);
	}

	&__caption {
		max-width: 945px;
		padding: 35px 0 62px;
		margin: auto;

		@media (max-width: 991px) {
			padding: 35px 15px 62px;
		}
	}

	&__subtitle {
		font-weight: 900;
		font-size: 36px;
		line-height: 50px;
		text-align: center;
		font-family: "Mont", "Open Sans", sans-serif;
		color: #fff;

		@media (max-width: 390px) {
			font-size: 28px;
			line-height: 35px;
		}

		span {
			background: #fff;
			color: #FF9900;
			padding: 0px 10px;
			border-radius: 4px;
			margin: 0 15px;

			@media (max-width: 550px) {
				display: block;
			}
		}
	}


	&-form {
		position: relative;
		margin-top: 60px;

		&__item {
			display: flex;

			@media (max-width: 360px) {
				flex-direction: column;
			}
		}

		&__input {
			width: 100%;
			max-width: 843px;
			height: 53px;
			background: #fff;
			border-radius: 20px 0px 0px 20px;
			border: none;
			padding: 0 25px;
			margin-right: 4px;
			font-family: 'Open-Sans', Arial, serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 23px;
			color: #3F3F3F;

			@media (max-width: 575px) {
				font-size: 14px;
				padding: 0 20px;
			}

			@media (max-width: 360px) {
				border-radius: 20px;
			}
		}

		&__button {
			width: 98px;
			height: 53px;
			background: #FF9900;
			border-radius: 0px 20px 20px 0px;
			transition: background-color 0.1s ease-in;

			@media (max-width: 360px) {
				border-radius: 20px;
				width: 100%;
				margin-top: 5px;
			}

			&:hover {
				background-color: #f79400;
			}
		}

		&__icon {
			width: 24px;
			height: 24px;
		}

		&__desc {
			margin-top: 5px;
			font-family: "Mont", "Open Sans", sans-serif;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			color: #fff;

			@media (max-width: 360px) {
				text-align: center;
			}

			span {
				text-decoration: underline;
			}
		}

		&-result {
			width: 100%;
			max-width: 843px;
			position: absolute;
			top: 57px;
			left: 0;
			border: 1px solid #D7D7D7;
			background-color: #fff;
			border-radius: 20px;
			padding: 30px 25px 70px;
			z-index: 50;
			overflow-x: auto;

			@media (max-width: 575px) {
				padding: 30px 20px 70px;
			}

			@media (max-width: 991px) {
				max-width: 823px;
			}

			&__desc {
				font-family: "Mont", "Open Sans", sans-serif;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #3F3F3F;
			}

			&__content {
				margin-top: 10px;
			}

			&__head {
				display: grid;
				grid-template-columns: 235px 80px 1fr;
				grid-gap: 5px;

				@media (max-width: 575px) {
					grid-template-columns: 175px 80px 1fr;
				}
			}

			&__name {
				font-family: "Mont", "Open Sans", sans-serif;
				font-weight: 600;
				font-size: 12px;
				line-height: 15px;
				color: #3F3F3F;
			}

			&__body {
				margin-top: 10px;
			}

			&__item {
				display: grid;
				grid-template-columns: 235px 80px 1fr 75px;
				grid-gap: 5px;

				@media (max-width: 575px) {
					grid-template-columns: 175px 80px 200px 75px;
				}
			}

			&__item+&__item {
				margin-top: 15px;
			}

			&__num {
				position: relative;
				font-family: "Mont", "Open Sans", sans-serif;
				font-weight: 700;
				color: #17BA9B;
				word-wrap: break-word;
				padding-left: 15px;

				&:before {
					content: '';
					position: absolute;
					top: 5px;
					left: 0px;
					width: 10px;
					height: 10px;
					border: 2px solid #17BA9B;
					border-radius: 50%;
				}
			}

			&__source {
				position: relative;
				font-family: "Mont", "Open Sans", sans-serif;
				font-weight: 600;
				color: #3F3F3F;
				word-wrap: break-word;

				&:before {
					content: '';
					background-image: url(../images/common/question.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					position: absolute;
					top: 2px;
					right: 17px;
					width: 17px;
					height: 17px;
				}
			}

			&__address {
				font-family: "Mont", "Open Sans", sans-serif;
				font-weight: 700;
				line-height: 20px;
				color: #3F3F3F;
				word-wrap: break-word;
			}

			&__choose {
				font-weight: bold;
				line-height: 22px;
				color: #FF9900;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


	&-bottom {
		display: flex;
		align-items: center;
		max-width: 1028px;
		margin: auto;
		padding: 20px 15px 10px;
		background-color: #17BA9B;

		@media (max-width: 450px) {
			flex-direction: column;
		}

		&__img {
			width: 100%;
			max-width: 59px;
			height: 66px;
			margin-right: 35px;

			@media (max-width: 450px) {
				margin-right: 0;
			}

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		&__desc {
			font-family: "Mont", "Open Sans", sans-serif;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			color: #fff;

			@media (max-width: 450px) {
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}