.steps {
  padding-top: 70px;
  padding-bottom: 50px;
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    counter-reset: item;
  }
  &__item {
    width: calc(33.333333% - 30px);
    margin-left: 30px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 55px 35px 15px;
    background-color: #E3FBEF;
    border: 1px solid #17BA9B;
    box-sizing: border-box;
    border-radius: 0 50px 50px 50px;
    counter-increment: item;
    position: relative;
    margin-top: 70px;
    &::before {
      counter-increment: li;
      content: counter(item, decimal-leading-zero);
      font-family: 'Mont', "Open Sans", sans-serif;
      width: 85px;
      height: 85px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      font-size: 36px;
      line-height: 46px;
      color: #575757;
      border: 1px solid #17BA9B;
      background-color: var(--color-white);
      border-radius: 50%;
      position: absolute;
      left: -25px;
      top: -45px;
    }
    &-text {
      margin-top: 20px;
      display: block;
      font-weight: 700;
    }
  }
}
@media (max-width: 1200px) {
  .steps__items {
    margin-left: -15px;
  }
}
@media (max-width: 1100px) {
  .steps__item {
    padding-left: 20px;
    padding-right: 20px;
    &-text {
      br {
        display: none;
      }
    }
  }
}
@media (max-width: 1000px) {
  .steps__item {
    padding-top: 40px;
    min-height: 200px;
    width: calc(33.333333% - 15px);;
    margin-left: 15px;
    &-text {
      font-size: 14px;
      line-height: 19px;
    }
  }
  .steps__item::before {
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 40px;
    left: -20px;
    top: -40px;
  }
}
@media (max-width: 870px) {
  .steps__item {
    width: calc(50% - 15px);
    margin-top: 55px;
    &s {
      justify-content: center;
    }
  }
  .steps__title {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .steps__items {
    display: block;
  }
  .steps__item {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: translateX(20px);
  }
}
@media (max-width: 500px) {
  .steps__item {
    width: calc(100% - 45px);
    padding: 30px 35px;
    min-height: auto;
    transform: translateX(0);
    margin-left: 45px;
    margin-right: 0;
    &-text {
      font-weight: 600;
    }
    &::before {
      width: 65px;
      height: 65px;
      font-size: 20px;
      line-height: 26px;
      left: -30px;
      top: -35px;
    }
  }
}
@media (max-width: 340px) {
  .steps__title {
    margin-bottom: 55px;
  }
  .steps__item {
    margin-top: 35px;
    &-text {
      font-size: 12px;
      line-height: 18px;
    }
  }
}