.structure {
	padding-top: 110px;

	@media (max-width: 875px) {
		padding-top: 55px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 75px;

		@media (max-width: 875px) {
			margin-top: 40px;
		}
	}

	&__item {
		flex: 0 0 25%;
		padding: 0 10px;
		text-align: center;
		margin: 10px 0;

		@media (max-width: 875px) {
			flex: 0 0 50%;
		}

		@media (max-width: 440px) {
			flex: 0 0 100%;
			margin: 20px 0;
		}
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 123px;
	}

	&__desc {
		margin-top: 10px;
		color: #3F3F3F;
	}
}