section.intro
	.intro__bg
		.intro__bg-image
			img(src="/img/intro-bg.jpg" alt="О КОМПАНИИ “ПРАВИО”").object-fit
	.container
		.intro__outer
			.intro__middle
				.intro__inner
					.intro__content.content
						h1.h1.intro__title(data-title="О КОМПАНИИ") О&nbsp;КОМПАНИИ “ПРАВИО”
						p.intro__text С нами сотрудничают сотни компетентных специалистов в различных областях права из всех регионов России
					.intro__cell.flex.flex_center
						a(href="#").btn.btn_white.btn_medium.btn_radius.intro__btn Заказать консультацию
						a(href="#").btn.btn_border-white.btn_medium.btn_radius.intro__btn Заказать консультацию
		//.intro__row.flex
		//	.intro__col.flex.flex_start
		//		+icon('clock')
		//		.intro__info
		//			span.intro__info-subtitle Скорость выполнения
		//			p.intro__info-text Через 10-15 минут вы получите первый экспертный  ответ
		//	.intro__col.flex.flex_start
		//		+icon('employee')
		//		.intro__info
		//			span.intro__info-subtitle Выбор исполнителей
		//			p.intro__info-text В нашей компании работают <br> более 1500 исполнителей
		//	.intro__col.flex.flex_start
		//		+icon('clock')
		//		.intro__info
		//			span.intro__info-subtitle Доступная стоимость
		//			p.intro__info-text Вы можете задать вопрос как на платной основе, так и бесплатно.