extends layout/main

block variables
    -var title = 'Брачный договор'
block content
  include pages/agreement/agreement-slider
  include pages/agreement/spouses
  include pages/agreement/agreement-desc
  include pages/agreement/agreement-documents
  include pages/main/banner