extends layout/main

block variables
    -var title = 'Главная страница'

block content
  include pages/main/intro
  section.faq
    .container
      .faq__content
        .faq__top
          h2.title.title--size-small.title--align-center.faq__title Задать вопрос
        form(action="#").faq__form
          .faq__form-row
            label.faq__control.faq__control--width.label
              +icon('arrow-down', 'label__icon label__icon--fill-orange')
              input(type="text" placeholder="Кратко поясните суть проблемы").input.faq__control-input
              span.label__text.faq__control-text Пример: «Как вернуть некачественный товар в интернет-магазин?»
            label.faq__control.faq__control--width.label
              +icon('arrow-down', 'label__icon label__icon--fill-orange')
              textarea(placeholder="Расскажите нам о вашей проблеме").textarea.faq__control-textarea
          h3.title.title--align-center.title--size-medium.title--color-green.faq__form-title Выберите тариф
          .faq__items
            .faq__item.faq__item--block
              .faq__item-head.faq__item-head--bg-orange
                h3.title.title--align-center.title--size-tiny.title--color-white VIP
              p.faq__item-desc Сложная ситуация, допускающая противоречивость и требующая изучения дополнительных документов и практик.
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('clock', 'faq__item-icon')
                    span.faq__item-text Время разговора <strong>— до 1 часа</strong>
                strong.faq__item-price(data-value="/ руб") 1200
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
            .faq__item.faq__item--block
              .faq__item-head.faq__item-head--bg-green
                h3.title.title--align-center.title--size-tiny.title--color-white ОБЫЧНЫЙ
              p.faq__item-desc Ситуация, предполагающая уточнения и более детальное погружение в проблему.
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('clock', 'faq__item-icon')
                    span.faq__item-text Время разговора <strong>— до 30 минут</strong>
                strong.faq__item-price(data-value="/ руб") 700
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
            .faq__item.faq__item--block
              .faq__item-head.faq__item-head--bg-green
                h3.title.title--align-center.title--size-tiny.title--color-white ЛЕГКИЙ
              p.faq__item-desc Несложная ситуация, при которой юрист даст однозначно верный ответ за короткое время.
              .faq__item-body
                ul.faq__item-list
                  li.faq__item-schedule
                    +icon('clock', 'faq__item-icon')
                    span.faq__item-text Время разговора <strong>— до 15 минут</strong>
                strong.faq__item-price(data-value="/ руб") 400
              .faq__item-footer
                button(type="submit").faq__item-btn.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
      span.faq__desc Нажимая кнопку «Задать вопрос», я принимаю условия Пользовательского соглашения и условия Политики конфиденциальности и Политикой обработки персональных данных.