extends layout/main

block variables
	-var title = 'Главная страница'
block content
	include pages/index-v1/intro-v1
	include pages/index-v1/discharge
	include pages/index-v1/extract
	include pages/index-v1/works
	include pages/index-v1/structure
	include pages/index-v1/cadastralmap
	include pages/index-v1/check
	include pages/main/banner
	include pages/index-v1/popup-subject
	include pages/index-v1/popup-data
	include pages/index-v1/popup-transfer