section.cadastralmap
	.container
		h2.title.title--color-bg.title--size-small.cadastralmap__title Публичная кадастровая карта
		span.cadastralmap__subtitle.title.title--size-tiny.title--color-gray 98% наших пациентов приходят по рекомендации знакомых
		.cadastralmap__content
			.cadastralmap__img
				+picture('static/images/content/cadastralmap', 'cadastralmap', ['webp', 'png'], '')