section.check
	.container
		h2.title.title--color-bg.title--size-small.check__title Проверка недвижимости перед покупкой онлайн
		.check__content
			p Почему важно выполнять проверку недвижимости перед покупкой?
			p Для того что бы знать характеристики выбранного объекта и иметь уверенность в его юридической чистоте, отсутствии залогов, обременений или арестов, для качественного проведения сделки купли-продажи необходимо получить отчет о проверки недвижимости.
			p Необходим ли отчет о проверки недвижимости при заключении иных сделок?
			p Отчет необходим при проведении процедуры дарения, кредитования или в судебных делах в качестве подтверждения прав на собственность. Так же он необходим в процессе проведения приватизации, оформления наследства или как свидетельство для улучшения жилищных условий.
			p Как выполнить проверку недвижимости самостоятельно онлайн?
			p В настоящий момент самым быстрым и удобным способом проверить выбранный объект можно при помощи удаленного заказа отчета о проверки недвижимости. Для этого достаточно добавить адрес дома или квартиры в поисковую строку, и выбрать тип необходимого Вам отчета (стандартный / о переходе прав/ о кадастровой стоимости объекта). В кратчайшие сроки отчет поступит на указанный адрес электронной почты в формате PDF.
