section.discharge
	.container
		.section-top
			.section-top__content
				h2.section-top__title.title.title--color-bg.title--size-small Образцы електронных выписок
				span.section-top__text.title.title--size-tiny.title--color-gray  Наши специалисты регулярно повышают квалификацию
			.section-top__arrows.discharge__arrows
		.discharge__slider
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
			.discharge__slide
				a(href="static/images/content/discharge/discharge-1.png" data-fancybox="gallery").discharge__slide-item
					img(src="static/images/content/discharge/discharge-1.png" alt="").discharge__slide-img
					span.discharge__slide-zoom
						<img class="discharge__slide-icon" src="static/images/common/zoom.svg" alt="">
