section.extract
	.container
		<h2 class="extract__title title title--color-bg title--align-center title--size-small">Выписка из ЕГРН Реестра онлайн!</h2>
		.extract__content
			.extract-card
				.extract-card__header
					h5.extract-card__title Выписка из ЕГРН об объекте <br> и собственниках
						+icon('question-mark', 'extract-card__icon')
				.extract-card__body
					h6.extract-card__subtitle Запрос включает:
					p.extract-card__desc.extract-card__desc--pdf <span>Выписка в формате PDF</span>
					p.extract-card__desc.extract-card__desc--archive <span>Архив с ЭЦП (XML+SIG)</span>
					span.extract-card__price--old 330/ руб
					<strong class="extract-card__price" data-value="/ руб">230</strong>
					a(href="" data-fancybox="" data-src="#popupSubject").extract-card__button.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
			.extract-card
				.extract-card__header.extract-card__header--orange
					h5.extract-card__title Комплексная проверка: <br> Пакет из 2-x документов
						+icon('question-mark', 'extract-card__icon')
				.extract-card__body
					h6.extract-card__subtitle Запрос включает:
					p.extract-card__desc.extract-card__desc--pdf <span>Выписка в формате PDF</span>
					p.extract-card__desc.extract-card__desc--archive <span>Архив с ЭЦП (XML+SIG)</span>
					span.extract-card__price--old 330/ руб
					<strong class="extract-card__price" data-value="/ руб">230</strong>
					a(href="" data-fancybox="" data-src="#popupData").extract-card__button.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
			.extract-card
				.extract-card__header
					h5.extract-card__title Выписка из ЕГРН об <br> истории перехода прав
						+icon('question-mark', 'extract-card__icon')
				.extract-card__body
					h6.extract-card__subtitle Запрос включает:
					p.extract-card__desc.extract-card__desc--pdf <span>Выписка в формате PDF</span>
					p.extract-card__desc.extract-card__desc--archive <span>Архив с ЭЦП (XML+SIG)</span>
					span.extract-card__price--old 330/ руб
					<strong class="extract-card__price" data-value="/ руб">230</strong>
					a(href="" data-fancybox="" data-src="#popupTransfer").extract-card__button.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
			.extract-card
				.extract-card__header
					h5.extract-card__title Выписка о кадастровой <br> стоимости объекта
						+icon('question-mark', 'extract-card__icon')
				.extract-card__body
					h6.extract-card__subtitle Запрос включает:
					p.extract-card__desc.extract-card__desc--pdf <span>Выписка в формате PDF</span>
					p.extract-card__desc.extract-card__desc--archive <span>Архив с ЭЦП (XML+SIG)</span>
					span.extract-card__price--old 210/ руб
					<strong class="extract-card__price" data-value="/ руб">230</strong>
					a(href="").extract-card__button.btn.btn--size-tiny.btn--color-orange.btn--border-orange Выбрать
