#popupSubject.popup.popup--md
	.popup__caption
		h3.popup__title Субъект Российской федерации
		p.popup__desc.popup__desc--green Московская область, г Москва, ул Паперника, д 19, кв 2
		span.popup__label Кадастровый номер:
		span.popup__value 77:04:0002007:4180
	.popup__content
		.popup__subtitle Выберите подходящий для Вас тариф
		form.popup__form(action="#")
			.popup-cards
				.popup-cards__item
					h5.popup-cards__title Срочный отчет о проверке недвижимости
					p.popup-cards__desc примерное время выполнения 30 минут, услуга предоставляется с 04:00 по 16:00 по московскому времени
					span.popup-cards__price 800 руб
				.popup-cards__item
					h5.popup-cards__title Отчет о проверке недвижимости
					p.popup-cards__desc об основных характеристиках и зарегистрированных правах, примерное время выполнения 1-8часов
					span.popup-cards__price 300 руб
				.popup-cards__item
					h5.popup-cards__title Отчет о переходе прав
					.popup-cards__desc об переходе прав между участниками
					.popup-cards__price 700 руб
				.popup-cards__item
					h5.popup-cards__title Отчет о кадастровой стоимости
					p.popup-cards__desc объекта недвижимости
					span.popup-cards__price 300 руб
			button(type="submit").popup__btn.btn.btn--bg-orange.btn--size-tiny Далее

