#popupTransfer.popup.popup--sm
	.popup__caption
		h3.popup__title Отчет о переходе прав
		p.popup__desc.popup__desc--gray Это самый быстрый способ получения <br> официальных данных из Росреестра
	.popup__content
		form.popup__form(action="#")
			p.popup__transfer-price 700 <span>руб</span>
			.popup-block
				span.popup-block__icon !
				p.popup-block__text После готовности выписки мы вышлем данный документ на указанную Вами почту на указанный вами номер телефона придет смс-оповещение
			.popup-buttons
				button(type="submit").popup-buttons__btn.popup-buttons__btn--white.btn.btn--size-tiny Назад
				button(type="submit").popup-buttons__btn.btn.btn--bg-orange.btn--size-tiny Далее
			p.popup__footer-text Оплата любым удобным для Вас способом, с помощью безопасной системы платежей




