section.structure
	.container
		h2.structure__title.title.title--color-bg.title--align-center.title--size-small При взаимодействии с госструктурами
		.structure__content
			.structure__item
				.structure__img
					+picture('static/images/content/structure', 'structure-1', ['webp', 'png'], '')
				p.structure__desc Госуслуги
			.structure__item
				.structure__img
					+picture('static/images/content/structure', 'structure-2', ['webp', 'png'], '')
				p.structure__desc Многофункциональные <br> центры
			.structure__item
				.structure__img
					+picture('static/images/content/structure', 'structure-3', ['webp', 'png'], '')
				p.structure__desc Министерство внутренних дел
			.structure__item
				.structure__img
					+picture('static/images/content/structure', 'structure-4', ['webp', 'png'], '')
				p.structure__desc Единый федеральный реестр сведений о банкротстве