section.works
	.works__bg(data-bg="static/images/content/works/works-bg.png" data-bg-webp="static/images/content/works/works-bg.webp")
		.container
			h2.works__title Как это работает?
			.works__content
				.works__item
					.works__icon
						img(src="static/images/content/works/search.svg" alt="")
					h6.works__subtitle Поиск объекта
					p.works__desc Точно укажите адрес или кадастровый номер объекта недвижимости.
					a(href="").works__link подробнее
				.works__item
					.works__icon
						img(src="static/images/content/works/wallet.svg" alt="")
					h6.works__subtitle Поиск объекта
					p.works__desc Точно укажите адрес или кадастровый номер объекта недвижимости.
					a(href="").works__link подробнее
				.works__item
					.works__icon
						img(src="static/images/content/works/question.svg" alt="")
					h6.works__subtitle Поиск объекта
					p.works__desc Точно укажите адрес или кадастровый номер объекта недвижимости.
					a(href="").works__link подробнее
				.works__item
					.works__icon
						img(src="static/images/content/works/file.svg" alt="")
					h6.works__subtitle Поиск объекта
					p.works__desc Точно укажите адрес или кадастровый номер объекта недвижимости.
					a(href="").works__link подробнее