section.advantages
  .advantages__bg(data-bg="static/images/content/advantages/advantages-bg.jpg" data-bg-webp="static/images/content/advantages/advantages-bg.webp" data-text="ПРАВИО")
    img(src="static/images/content/advantages/advantages-decor.svg" alt="Декорация").advantages__decor
    .container
      h2.title.title--color-white.title--size-small Почему стоит обратиться к нам?
      .advantages__items
        .advantages__item
          .advantages__item-icon
            +icon('medal')
          span.advantages__item-text Лучшие из лучших
        .advantages__item
          .advantages__item-icon
            +icon('free-time')
          span.advantages__item-text В любое время, в любом месте
        .advantages__item
          .advantages__item-icon
            +icon('fast-time')
          span.advantages__item-text Своевременно и быстро
        .advantages__item
          .advantages__item-icon
            +icon('file')
          span.advantages__item-text Работа нескольких сервисов
      .advantages__inner(data-da="advantages, last, 972")
        .advantages__slider
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
          .advantages__slide
            .advantages__slider-item
              time(datetime="2020-09-21").advantages__slider-day 21.09.2020
              h3.advantages__slider-title Оформление формы на прием работника
              .advantages__slider-user Артемьев Ярослав Викторович
        .advantages__content
          +picture('static/images/common', 'gerb', ['webp', 'png'], 'advantages__icon')
          h2.title.title--color-bg.title--size-small.advantages__title Нашу помощь получили уже
          span.advantages__count 5347+
          span.advantages__content-text пользователей