section.information
  <svg class="information__decor information__decor--left" width="93" height="187" viewBox="0 0 93 187" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cy="93.7422" r="83" stroke="#F3F3F3" stroke-width="20"/>
  </svg>
  <svg class="information__decor information__decor--right" width="154" height="463" viewBox="0 0 154 463" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="231" cy="231.743" r="221" stroke="#F3F3F3" stroke-width="20"/>
  </svg>
  .container
    h2.information__title.title.title--color-bg.title--align-center.title--size-small Основные правила пользования онлайн-консультацией юриста
    p В процессе поиска компании, предоставляющей юридические услуги, интернет предложит множество вариантов о консультации юриста по телефону. В Москве эти услуги становятся все более популярными. Например, информацию о телефонном общении с адвокатом можно увидеть не только на просторах интернета, но и в газетах, флаерах и даже на столбах. Но это что-то вроде рекламы, которая не всегда значит, что по указанному номеру ответит хороший специалист, способный дать дельный совет. Нужно доверять только профессионалам.
    h3 Преимущества консультации по телефону с юристом
    p Консультация адвоката по телефону имеет множество преимуществ перед другими типами коммуникации. Среди наиболее крупных можно выделить:
    ul
      li Возможность начать разговор в любое время суток. Обращаться можно даже в ночные часы.
      li Нет привязанности к географическому положению абонента и консультанта. Важно чтобы оба были в России, но не важно, в большом вы городе или в маленькой деревне.
      li Возможность обеспечить максимальную анонимность и конфиденциальность клиента. Позвонить можно даже не с вашего номера. В таком случае раскрыть личность звонившего будет попросту невозможно, а помощь все равно окажут.
      li Вербализация позволяет лучше раскрыть проблему и передать больше нюансов, чтобы получить более глубокую помощь. В разговоре человеку проще раскрыться, чем в написанном тексте.
      li Такая форма задавания вопросов позволяет быстрее выложить информацию, что важно, если подсказка нужна максимально срочно.
      li Клиент может прервать контакт когда ему будет угодно.
      li Юридическая консультация по телефону формирует более доверительные отношения между клиентом и консультантом, поскольку вы можете услышать голос адвоката, поняв насколько хорошо он разбирается в теме. Уверенная и грамотная речь – один из основных признаков высокого профессионализма.
    p Нельзя забывать о некоторых ограничениях телефонного общения. Например, помощь очень сложно оказать, если слышен шум, который отвлекает и мешает. Потому прежде чем звонить на горячую линию, убедитесь, что вокруг тихо. К тому же, важно чтобы разговор не прерывался из-за плохой связи, так что проверьте стабильность сигнала.
    h3 Особенности рыботы с «Правио»
    p Сайт prav.io – лидер на рынке юридических услуг для граждан. Одним из направлений его работы является телефонное общение с правовиками. Получить консультацию юриста по телефону можно несколькими путями:
    ul
      li Круглосуточная. Вопросы можно задавать свободным специалистам на линии. Но они окажут только базовую поддержку. К тому же, поскольку данная консультация пользуется спросом, линия часто занята. Не самый лучший вариант, если нужна срочная подсказка.
      li Онлайн. Разговор длится около часа. В его ходе ситуация разбирается максимально подробно, учитываются различные противоречия и нюансы. Специалистом изучаются дополнительные документы и практики. Стоимость 1200 рублей. Ответ получите максимально срочно.
      li Горячая линия. Беседа ограничивается 30 минутами. Специалист погружается в проблему, уточняет детали и анализирует ситуацию с правовой точки зрения. Оплата – 700 рублей.
      li Легкая. Выбирается если нужно защитить себя в несложных ситуациях, которые не требуют долгого разбирательства. Длительность разговора не дольше 15 минут, а стоимость 400 рублей.
    p Вам перезвонят сами операторы, но важно запомнить – если вопрос срочный, лучше выбрать услуги, предполагающие денежное вознаграждение.