section.statistics
  .statistics__bg
    +picture('static/images/content/statistics', 'statistics-book', ['webp', 'png'], 'statistics__book')
    .container
      +picture('static/images/content/statistics', 'statistics-statue', ['webp', 'png'], 'statistics__image')
      .statistics__items
        .statistics__item
          +icon('auction', 'statistics__item-icon')
          h3.statistics__item-number(data-number="2000" data-separator="+") 0
          span.statistics__item-text Выигранных дел
        .statistics__item
          +icon('balance', 'statistics__item-icon')
          h3.statistics__item-number(data-number="16") 0
          span.statistics__item-text Лет успешной практики
        .statistics__item
          +icon('like', 'statistics__item-icon')
          h3.statistics__item-number(data-number="358") 0
          span.statistics__item-text Квалифицированных юристов
        .statistics__item
          +icon('happiness', 'statistics__item-icon')
          h3.statistics__item-number(data-number="200") 0
          span.statistics__item-text Постоянных клиентов