section.steps
  .container
    h2.title.title--align-right.title--size-small.title--color-bg.steps__title Этапы нашей работы
    ul.steps__items
      li.steps__item
        h3.steps__item-title.title.title--size-medium.title--color-green ЗАДАЙТЕ ВОПРОС
        span.steps__item-text Мы получаем очень много вопросов каждый день.
          | <br> Задайте свой!
      li.steps__item
        h3.steps__item-title.title.title--size-medium.title--color-green ПОЛУЧИТЕ ОТВЕТ
        span.steps__item-text На вопросы круглосуточно отвечают юристы со всей России. Среднее время ответа
          | <br> —&nbsp;15 минут.
      li.steps__item
        h3.steps__item-title.title.title--size-medium.title--color-green РЕШИТЕ ПРОБЛЕМУ
        span.steps__item-text 95,4% клиентов остаются полностью довольны ответами и рекомендуют нас друзьям