footer.footer
  .container
    .footer__row
      .footer__col
        .logo.footer__logo
          a(href="#").logo__link
            img(src="static/images/common/logo.png" alt="").logo__image
        .footer__icons
          a(href="#").footer__icons-link
            +icon('facebook', 'footer__icon')
          a(href="#").footer__icons-link
            <svg class="footer__icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8021 13.0423C17.8021 13.0423 19.4191 14.6393 19.8191 15.3783C19.8269 15.389 19.8329 15.4008 19.8371 15.4133C20.0001 15.6863 20.0401 15.9003 19.9601 16.0583C19.8251 16.3193 19.3681 16.4503 19.2131 16.4613H16.3551C16.1561 16.4613 15.7421 16.4093 15.2381 16.0613C14.8531 15.7923 14.4701 15.3493 14.0991 14.9163C13.5451 14.2733 13.0661 13.7153 12.5811 13.7153C12.5198 13.7152 12.459 13.7254 12.4011 13.7453C12.0341 13.8613 11.5681 14.3843 11.5681 15.7773C11.5681 16.2133 11.2241 16.4613 10.9831 16.4613H9.67409C9.22809 16.4613 6.90609 16.3053 4.84709 14.1343C2.32409 11.4763 0.0580901 6.14434 0.0360901 6.09734C-0.10491 5.75234 0.19109 5.56434 0.51109 5.56434H3.39709C3.78409 5.56434 3.91009 5.79834 3.99809 6.00834C4.10009 6.24934 4.47809 7.21334 5.09809 8.29634C6.10209 10.0583 6.71909 10.7753 7.21209 10.7753C7.30471 10.7756 7.39577 10.7515 7.47609 10.7053C8.12009 10.3513 8.00009 8.05134 7.97009 7.57734C7.97009 7.48534 7.96909 6.55034 7.63909 6.09834C7.40309 5.77434 7.00109 5.64834 6.75809 5.60234C6.82309 5.50834 6.96109 5.36434 7.13809 5.27934C7.57909 5.05934 8.37609 5.02734 9.16709 5.02734H9.60609C10.4641 5.03934 10.6861 5.09434 10.9981 5.17334C11.6261 5.32334 11.6381 5.73034 11.5831 7.11634C11.5671 7.51234 11.5501 7.95834 11.5501 8.48334C11.5501 8.59534 11.5451 8.72034 11.5451 8.84734C11.5261 9.55834 11.5011 10.3593 12.0031 10.6883C12.0682 10.7289 12.1434 10.7504 12.2201 10.7503C12.3941 10.7503 12.9151 10.7503 14.3281 8.32534C14.9481 7.25434 15.4281 5.99134 15.4611 5.89634C15.4891 5.84334 15.5731 5.69434 15.6751 5.63434C15.7477 5.59574 15.8289 5.57645 15.9111 5.57834H19.3061C19.6761 5.57834 19.9271 5.63434 19.9761 5.77434C20.0581 6.00134 19.9601 6.69434 18.4101 8.79034C18.1491 9.13934 17.9201 9.44134 17.7191 9.70534C16.3141 11.5493 16.3141 11.6423 17.8021 13.0423Z" fill="white"/>
            </g>
            <defs>
            <clipPath>
            <rect width="20" height="20" fill="white" transform="translate(0 0.742188)"/>
            </clipPath>
            </defs>
            </svg>
          a(href="#").footer__icons-link
            +icon('telegram', 'footer__icon')
          a(href="#").footer__icons-link
            <svg class="footer__icon" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M10.0679 0.742188H10.0628C4.51306 0.742188 0 5.22719 0 10.7422C0 12.9297 0.709608 14.9572 1.91619 16.6034L0.661797 20.3184L4.53067 19.0897C6.12226 20.1372 8.02083 20.7422 10.0679 20.7422C15.6177 20.7422 20.1307 16.2559 20.1307 10.7422C20.1307 5.22844 15.6177 0.742188 10.0679 0.742188ZM15.9247 14.8634C15.6818 15.5447 14.7181 16.1097 13.9493 16.2747C13.4234 16.3859 12.7365 16.4747 10.4239 15.5222C7.46598 14.3047 5.56111 11.3184 5.41265 11.1247C5.27047 10.9309 4.21739 9.54344 4.21739 8.10844C4.21739 6.67344 4.9509 5.97469 5.24657 5.67469C5.4894 5.42844 5.89075 5.31594 6.27575 5.31594C6.40031 5.31594 6.51229 5.32219 6.61294 5.32719C6.90861 5.33969 7.05708 5.35719 7.25209 5.82094C7.49492 6.40219 8.08626 7.83719 8.15672 7.98469C8.22843 8.13219 8.30015 8.33219 8.19949 8.52594C8.10513 8.72594 8.02209 8.81469 7.87363 8.98469C7.72516 9.15469 7.58425 9.28469 7.43578 9.46719C7.2999 9.62594 7.14641 9.79594 7.31752 10.0897C7.48863 10.3772 8.07997 11.3359 8.95062 12.1059C10.0742 13.0997 10.9851 13.4172 11.3109 13.5522C11.5538 13.6522 11.8432 13.6284 12.0206 13.4409C12.2458 13.1997 12.5238 12.7997 12.8069 12.4059C13.0082 12.1234 13.2624 12.0884 13.5291 12.1884C13.8009 12.2822 15.239 12.9884 15.5346 13.1347C15.8303 13.2822 16.0253 13.3522 16.097 13.4759C16.1675 13.5997 16.1675 14.1809 15.9247 14.8634Z" fill="white"/>
            </g>
            <defs>
            <clipPath>
            <rect width="20.1307" height="20" fill="white" transform="translate(0 0.742188)"/>
            </clipPath>
            </defs>
            </svg>
      .footer__col
        h3.footer__col-title Клиентам
        ul.footer__col-list
          li.footer__col-item
            a(href="#").footer__col-link Задать вопрос
          li.footer__col-item
            a(href="#").footer__col-link Войти
          li.footer__col-item
            a(href="#").footer__col-link Регистрация
      .footer__col
        h3.footer__col-title О компании
        ul.footer__col-list
          li.footer__col-item
            a(href="#").footer__col-link О нас
          li.footer__col-item
            a(href="#").footer__col-link Юристы
          li.footer__col-item
            a(href="#").footer__col-link Вопросы
          li.footer__col-item
            a(href="#").footer__col-link Контакты
      .footer__col
        h3.footer__col-title Для юристов
        ul.footer__col-list
          li.footer__col-item
            a(href="#").footer__col-link Вход
          li.footer__col-item
            a(href="#").footer__col-link Юристам и адвокатам
          li.footer__col-item
            a(href="#").footer__col-link Стать юристом проекта
      .footer__col.footer__col--w-big
        .footer__col-phone
          span.footer__col-text Бесплатная горячая линия
          a(href="tel:+74954077755").footer__link
            +icon('phone', 'footer__col-icon')
            | +7 (495) 40-777-55
        .footer__col-map
          span.footer__col-text Бесплатная горячая линия
          a(href="#").footer__link
            +icon('pin', 'footer__col-icon')
            | г. Москва, Каширский пр-д., д. 21, ком. 2, пом. 1
